# ModelSim / Questa
work/
*.wlf
*.vstf
*.log
transcript
vsim.wlf
modelsim.ini

# Quartus
db/
incremental_db/
output_files/
simulation/
*.qws
*.qdf
*.smsg
*.summary
*.rpt

# Backups / temporary files
*.bak
*.tmp
*~

# macOS
.DS_Store
__MACOSX/
